#home
    margin-top: 50px
    .card
        overflow: hidden
    .card-header
        background: linear-gradient(#6C91E4 0%, #142C79 100%)
        color: white

    pre
        margin-bottom: 0
        -ms-overflow-style: -ms-autohiding-scrollbar
        -webkit-overflow-scrolling: touch
        &::-webkit-scrollbar
            -webkit-appearance: none
            width: 4px
            height: 10px

        &::-webkit-scrollbar-thumb
            border-radius: 8px
            background-color: #435a9c