#chat
    .input-group
        border: none

        input.form-control
            border: none
            border-radius: 0
            background: rgba(66, 123, 158, 0.7)
            color: #eaf1f9
            &::placeholder
                color: #eaf1f9
        .input-group-btn
            button
                background: linear-gradient(#6C91E4 0%, #142C79 100%)
                border: none
                border-radius: 0
                color: white
                &:hover
                    background: linear-gradient(#446abf 0%, #0c1329 100%)
